<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>region</key>
	<string>us-east-1</string>
	<key>poolId</key>
	<string>us-east-1_BdrgDFHYb</string>
	<key>clientId</key>
	<string>4q92gooupq09ft6ngcmod8lt2p</string>
	<key>clientSecret</key>
	<string>1fblca3fuus5p3obmb3l2de26n106s6nkqrrk49v8m31t7qtgiih</string>
</dict>
</plist>
